body {
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
   --bg-image: url('../images/crash.webp');
}

body::before {
   content: '';
   position: fixed;
   inset: 0;
   background-image: var(--bg-image);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   filter: blur(1.5rem);
   opacity: .8;
   transform: scale(1.05);
   z-index: -1;
   pointer-events: none;
}

.carousel {
   margin: 0 2rem;
   position: relative;
}

.carousel__item {
   display: none;
}

.carousel__item--visible {
   display: block;
}

.carousel__item img {
   width: 90rem;

   @media (max-width: 820px) {
      width: 100%;
   }
}

.carousel-actions {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: space-between;
   width: 95%;
}

.carousel-actions button {
   padding: .6rem 1.4rem;
   font-size: 3rem;
   cursor: pointer;
   border-radius: 12rem;
   background: #a1a1a1b6;
   border: none;
   color: #fff;
}

.carousel-actions button:hover {
   background: #b1b0b098;
   transform: scale(1.1);
}